.container {
  background-color: #1C2541;
  width: 700px;
  overflow-y: auto;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  border-left: 3px solid #6FFFE9;
  border-right: 3px solid #6FFFE9;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
}

body {
  background-color: #0B132B;
  color: #ffffff;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  font-size: 30px;
  text-shadow: 5px 5px #000000;
}

h2 {
  font-size: 20px;
}

#form-number {
  padding-top: 40px;
}

.submitBtn {
  margin-top: 10px;
  margin-bottom: 20px;
}

#robotResults {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #5BC0BE;
  color: #000000;
  border: 3px solid #000000;
}